
<%- include ./menuOptions%>

<div class="all">
    <% users.forEach((x)=>{ %>
  <div class="element">
    <ul>
    <li><label>Name:</label><%=x.name%></li>
    <li><label>User Name:</label><%= x.username%></li>
    <li><label>Session Time (Minutes): </label><%= x.sessionTime%></li>
    <li><label>Created Date: </label><%= x.createdDate%></li>
    <li><label>Permissions: </label><%= x.permissions%></li>
    <li><%- include ./buttonOptions%>   </li>

  </ul>

  </div>
    <% }) %>
</div>
