<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Jquery -->  
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <%if( user.sessionTime){%>
<script>
  let countdownId = 0;
  let seconds;
  var counter = document.getElementById("cdDiv");

  function start(userSec) {
      //Start clock
      funcRun=false
      console.log('im here start')
      seconds = window.sessionStorage.getItem("seconds")||userSec;
      countdownId = setInterval("countdown()", 1000);
  }

  function countdown(){
    console.log('im here count')
      if(seconds > 0){
    seconds--; 
    window.sessionStorage.setItem("seconds", seconds)
    var current_minutes = parseInt(seconds/60);
    var current_seconds = seconds % 60;
    document.getElementById('cdDiv').innerHTML = current_minutes + ":" + (current_seconds < 10 ? "0" : "") + current_seconds;
      }
      else {
          //Stop clock
          console.log('im here stop')
          document.getElementById('cdDiv').innerHTML = 'Bye Bye!';
          window.sessionStorage.setItem("timerStoped", true)
          clearInterval(countdownId);
          window.sessionStorage.removeItem('seconds')
      }
  }

  if(!window.sessionStorage.timerStoped){
    start(<%=user.sessionTime%>)
  }
</script>
<% }    %>
</head>
  <body>
    <div class="mt-2 pb-2" style="width:90vw"> 
      <%if( user.sessionTime){%>
        <div id="cdDiv">00:00</div>
            <% }    %>
      <h5 class="font-weight-light"><%=user.fullName%></h5>
      <%-include title %>
          <nav class="navbar pl-0 navbar-expand-sm navbar-light " style="width:90vw;padding-top: 5px;">
          <div class="navbar-nav">
            <a class="nav-item nav-link item " href="/movies">Movies</a>
            <a class="nav-item nav-link item" href="/subscriptions">Subscriptions</a>
            <% if(user.admin){ %>
            <a class="nav-item nav-link item" href="/users">Users Management</a>
            <% } %>
            <a class="nav-item nav-link item" href="/login/logout">Log Out</a>
          </div>
      </nav>
      
        <% let typeCapitalized;%>
        <%if (type){ %>
        <%if (type=="member"){ %>
        <% typeCapitalized='Subscription' %>
        <% } else {   %>
          <% typeCapitalized = type.charAt(0).toUpperCase() + type.slice(1) %>
          <% } %>
          <h4 class="mt-4" ><%=typeCapitalized%>s</h4>
        <% }         %>      
    </div>
    <%if(message.length>0){%>
      <div class="alert alert-success message" role="alert" >
        <%=message%>
      </div>  <%}                    %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      window.setTimeout(function() {
    $(".alert").fadeTo(400, 0).slideUp(400, function(){
        $(this).remove(); 
    });
}, 2000);
    </script>
  </body>
</html>




