<% const typeCapitalized = type.charAt(0).toUpperCase() + type.slice(1) %>
<div>
 <a href="/<%=type%>s/all<%=typeCapitalized%>s"><button>All <%=typeCapitalized%>s</button></a>
 <a href="/<%=type%>s/add<%=typeCapitalized%>"><button>Add <%=typeCapitalized%></button></a>    
</div>