<div class="element-form">
    <form method="POST" name="movieform">
      <label> Name:</label
      ><input type="text" name="name" value="<%=movies.name%>" />
      <br />
      <label>Genres:</label
      ><input type="text" name="genres" value="<%=movies.genres%>"/>
      <br />
      <label>Image url:</label
      ><input type="text" name="image" value="<%=movies.image%>"/>
      <br />
      <label>Premiered: </label>
      <input
        type="text"
        name="premiered" value="<%=movies.premiered%>"
      />
      <br />
      <% let value =
      option==="edit" ? "update" : "save" %>
      <input type="submit" onclick="postform('<%=value%>')" value='<%=value%>' />
      <input type="submit" onclick="cancelform()" value='cancel' />
    </form>
  </div>
  
  <script>
  
    function postform(value) {
        if(value==="update"){
            document.movieform.action =
        "/movies/postUpdateMovie/<%=movies.id%>";
        }else if (value==="save"){
            document.movieform.action =
        "/movies/postSaveMovie";
        }
  
    }
    function cancelform() {
      document.movieform.action = "/movies/cancel";
    }
  </script>