<div class="element-form">
    <% let type; %> 
    <form method="POST" name="userform">
      <label>First Name:</label
      ><input type="text" name="fname" value="<%=users.fname%>" />
      <br />
      <label>Last Name:</label
      ><input type="text" name="lname" value="<%=users.lname%>" />
      <br />
      <label>User Name:</label
      ><input type="text" name="username" value="<%=users.username%>" />
      <br />
      <label>Session Time (Minutes): </label>
      <input
        type="text"
        name="sessiontime"
        value="<%= users.sessionTime%>"
      />
      <br />
      <br />
      <%if(users){ %>
      <label>Created Date: </label>
      <%= users.createdDate%>
      <% } %>
      <br />
      <label>Permissions: </label>
      <br />
      <% permissions.forEach((x)=>{ %>
      <% let action= x.split(' ')[0] %>
      <% let type= x.split(' ')[1] %> 
      <% let checked=false %>
      <%if(users){ %>
        <% checked = users.permissions.includes(x) ? "checked" : "" %>
      <% } %>
      <input
        type="checkbox"
        name="permission"
        value="<%=x%>"
        id="<%=action%>-<%=type%>"
        onclick="toggleView('<%=type%>')"
        <%=checked%>
      />
      <label for="<%=action%>-<%=type%>"><%=x%></label> <br />
      <% }) %>
      <br />
      <% let value =
      option==="edit" ? "update" : "save" %>
      <input type="submit" onclick="postform('<%=value%>')" value='<%=value%>' />
      <input type="submit" onclick="cancelform()" value='cancel' />
    </form>
  </div>

  <script>
    function toggleView(type) {
      const update = document.getElementById(`Update-${type}`);
      const create = document.getElementById(`Create-${type}`);
      const remove = document.getElementById(`Delete-${type}`);
      const view = document.getElementById(`View-${type}`);

      if (remove.checked && update.checked && create.checked) {
        // if checked
        console.log("checked");
        view.checked = true;
      }
    }

    function postform(value) {
        if(value==="update"){
            document.userform.action =
        "/users/postUpdateUser/<%=users.id%>";
        }else if (value==="save"){
            document.userform.action =
        "/users/postSaveUser";
        }

    }
    function cancelform() {
      document.userform.action = "/users/cancel";
    }
  </script>
