
  <form method="POST" name="movieform">
    <div class="form-row">
      <div class="col-md-4 mb-1">
        <label>Name:</label>
        <input type="text" name="name" value="<%=movies.name%>" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-1">
        <label>Genres:</label>
        <input type="text" name="genres" value="<%=movies.genres%>" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-1">
        <label>Image url:</label>
        <input type="text" name="image" value="<%=movies.image%>" class="form-control"/>
   
      </div>
      <div class="col-md-3">
        <label>Premiered:</label>
        <input
        type="text"
        name="premiered" value="<%=movies.premiered%>" class="form-control">
      </div>
      </div>
    <br/>
    <% let value =
    option==="edit" ? "update" : "save" %>
    <input type="submit" class="input-group-text d-inline-flex" onclick="postform('<%=value%>')" value='<%=value%>' />
    <input type="submit" class="input-group-text d-inline-flex" onclick="cancelform()" value='cancel' />
  </div>
  </form>

  <script>
  
    function postform(value) {
        if(value==="update"){
            document.movieform.action =
        "/movies/postUpdateMovie/<%=movies.id%>";
        }else if (value==="save"){
            document.movieform.action =
        "/movies/postSaveMovie";
        }
  
    }
    function cancelform() {
      document.movieform.action = "/movies/cancel";
    }
  </script>